body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
    color: #222;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.search-index{
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 999;
}
.search{
    position: relative;
    height: 26px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex:1;
    margin: 7px 10px;   
    font-size: 12px;
    color: #666;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    line-height: 24px;
    padding-left: 25px;
}
.search::before{
    position: absolute;
    top: 5px;
    left: 5px;
    content: '';
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
   
}

.user{
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}
.user::before{
    display: block;
    content: '';
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin:4px auto -2px;
}
/* 返回顶部 */
.goBack {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: url(../images/back.png) no-repeat;
    background-size: 38px 38px;
}
/* 焦点图 */
.focus{
    position: relative;
    padding-top: 44px;
    overflow: hidden;
}
.focus img{
    width: 100%;

}
.focus ul{
    overflow: hidden;
    width: 500%;
    margin-left: -100%;
}
.focus ul li{
    float: left;
    width: 20%;
}

/* 小圆点 */
.focus ol {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
}
.focus ol li {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #fff;
    list-style: none;
    border-radius: 2px;
    transition: all .3s;
}
.focus ol li.current{
   width: 15px;
}
/* 局部导航栏 */
.local-nav{
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin: 3px 4px;
}
.local-nav li{
    flex: 1;
}
.local-nav li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.local-nav li a span:nth-child(1) {
    width: 32px;
    height: 32px;
    background:url(../images/localnav_bg.png) no-repeat  0 0;
    background-size: 32px auto;
    margin-top: 8px;
}
.local-nav li:nth-child(2) a span:nth-child(1){
    background-position: 0 -32px;
}
.local-nav li:nth-child(3) a span:nth-child(1){
    background-position: 0 -64px;
}
.local-nav li:nth-child(4) a span:nth-child(1){
    background-position: 0 -96px;
}
.local-nav li:nth-child(5) a span:nth-child(1){
    background-position: 0 -128px;
}
/* nav part */
.nav{
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px 3px;
    
}
.nav div{
    display: flex;
    height: 88px;
    
}
.nav-common:nth-child(1){
    background: -webkit-linear-gradient(left,#fa5a55,#fa994d);
}
.nav-common:nth-child(2){
    margin: 3px 0;
    background: -webkit-linear-gradient(left,#4b90ed,#53bced);
}
.nav-common:nth-child(3){
    background: -webkit-linear-gradient(left,#34c2a9,#6cd559);
}
.nav-items{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.nav-items a{
    flex:1;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0,0,0,.2);
}
.nav-items a:nth-child(1){
    border-bottom: 1px solid #fff;
}
.nav-items:nth-child(1){
    border:0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;

}

.nav-items:nth-child(-n+2){
    border-right: 1px  solid #fff;
}
/* 测导航栏 */
.subnav-entry{
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    margin:0 4px;
    flex-wrap: wrap;
}
.subnav-entry li{
    flex:20%;
}
.subnav-entry a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subnav-entry-icon{
    width: 28px;
    height: 28px;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat ;
    background-size: 28px auto;
}
/* 销售模块 */
.sales-box{
    border-top: 1px solid #bbb;
    margin: 4px 4px;
}
.sales-hd{
    position: relative;
    height: 44px;
    border-bottom: 1px solid#ccc;
}
.sales-hd h2{
    position: relative;
    text-indent: -9999em;
    overflow: hidden;
}
.sales-hd h2::after{
    content: '';
    position: absolute;
    top: 8px;
    left: 20px;
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat  0 -20px;
    background-size:79px auto ;
}
.sales-box .more{
    position: absolute;
    top: 0px;
    right: 5px;
    background:-webkit-linear-gradient(left,#ff506c,#ff6bc6);
    border-radius: 15px;
    padding: 3px  20px  3px 10px;
    color: #fff;
}
.sales-box .more::after{
    content: '';
    position: absolute;
    top: 7px;
    right: 8px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.sales-bd .row{
    display: flex;
}
.row a{
    flex: 1;
    border: 1px solid #eee;
}
.row a:nth-child(1){
    border-right: 1px solid #eee;
}
.row a img{
    width: 100%;
}
